@model proiect.Models.Film

<h1>Detalii Film</h1>

<div>
    <h4>ID: @Model.IdFilm</h4>
    <h4>Titlu: @Model.Titlu</h4>
    <h4>Pret: @Model.Pret</h4>
    <h4>Descriere: @Model.Descriere</h4>
    <h4>Imagine: @Model.Imagine</h4>
    <h4>Categorie Film: @Model.CategorieFilm</h4>
    <!-- Afișează alte detalii ale filmului aici -->
</div>

<a asp-action="Index">Înapoi la Listă</a>
