@model IEnumerable<Producator>

@{
    ViewData["Title"] = "Lista de producatori";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>@ViewData["Title"]</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Imagine</th>
                    <th>Nume Producator</th>
                    <th>Bio</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="circle" src="@prod.Imagine" alt="@prod.NumeProducator" style="max-width: 150px" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => prod.NumeProducator)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => prod.Bio)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" href="@Url.Action("Edit", new { id = prod.IdProducator })"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-outline-info" href="@Url.Action("Details", new { id = prod.IdProducator })"><i class="bi bi-eye"></i> Detalii</a>
                            <a class="btn btn-danger text-white" href="@Url.Action("DeleteConfirmed", new { id = prod.IdProducator })"><i class="bi bi-trash"></i> Sterge</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
